@page "/"
@using MudBlazorPlayground.DTOs
@using MudBlazorPlayground.ViewModels

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (UserVm is not null)
{
    <BaseGrid T="UserDto" Vm="@UserVm" />
}

@code {

    public UserVM? UserVm { get; set; }
    
    protected override void OnInitialized()
    {
        UserVm = new UserVM();
        base.OnInitialized();
    }

}